<p><strong>String or text in Python</strong><br />type str - a sequence of characters<br /> No separate class for single character</p>

In [ ]:
welcome = 'Welcome to Spotle.ai'
print('text = {}, type = {}'.format(welcome, type(welcome)))

<p><strong>Double quotes</strong></p>

In [ ]:
welcome = "Welcome to Spotle.ai"
print('text = {}, type = {}'.format(welcome, type(welcome)))

<p><strong>Single quote within double quotes</strong></p>

In [ ]:
note = "Spotle's masterclass"
print('text = {}, type = {}'.format(note, type(note)))

<p><strong>Single quote within single quotes, using back slash</strong></p>

In [ ]:
note = 'Spotle\'s masterclass'
print('text = {}, type = {}'.format(note, type(note)))

<p><strong>Single quote, double quote within triple quotes</strong></p>

In [ ]:
note = '''He said his favorite course is "Spotle's Fundamentals of Python"'''
print('text = {}, type = {}'.format(note, type(note)))

<p><strong>Multiple lines within a single assignment statement</strong></p>

In [ ]:
note = '''my first line
my second line
my third line'''
print(note)

<p><strong>String as sequence</strong><br /><strong>index</strong>: 0, 1, 2, ..., n-1 for a string of length n<br /><strong>backward index</strong>: -1, -2, ..., -n<br /></p>
<table width="360">
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
</tr>
<tr>
<td>S</td>
<td>p</td>
<td>o</td>
<td>t</td>
<td>l</td>
<td>e</td>
<td>.</td>
<td>a</td>
<td>i</td>
</tr>
<tr>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>
<p>s[1] is p<br />s[-3] is .</p>

In [ ]:
s = "Spotle.ai"
print(s[1])
print(s[-3])

<p><strong>Concatenation of Strings</strong><br />Combining two strings using <strong>+</strong> operator</p>

In [ ]:
s1 = "Spotle"
s2 = ".ai"
s = s1 + s2
print('text = {}, type = {}'.format(s, type(s)))

<p><strong>len function returns length of a string</strong></p>

In [ ]:
print('length of 1st string = {}, length of 2nd string  = {} and length of new string = {}'
      .format(len(s1), len(s2), len(s)))

<p><strong>Slicing of a Sequence</strong><br />[start:end] return objects from from 'start' position to before of 'end'<br />'start' can be any value &gt;= 0, or &lt;= -1 or empty<br />'end' can be any value &gt;= 0, or &lt;= -1 or empty<br />if start is empty then start = 0<br />if start is negative then&nbsp;internally&nbsp;start = length of sequence + start<br />if end is empty then end = length of the sequence<br />if end is negative then internally end =&nbsp;length of sequence +&nbsp;end</p>
<p><strong>Extracting Substring</strong>&nbsp;</p>
<table width="360">
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
</tr>
<tr>
<td>S</td>
<td>p</td>
<td>o</td>
<td>t</td>
<td>l</td>
<td>e</td>
<td>.</td>
<td>a</td>
<td>i</td>
</tr>
<tr>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

In [ ]:
s = "Spotle.ai"
print(s[4:8])
print(s[:6])
print(s[6:])
print(s[-4:-1])

<p><strong>Modifying a String</strong></p>
<p>s = 'Python'<br />s[0] = 'J'</p>
<pre><span class="ansi-red-fg" style="color: #ff0000;">---------------------------------------------------------------------------
TypeError</span>                                 Traceback (most recent call last)
<span class="ansi-green-fg">&lt;ipython-input-13-fbdc8e5db9f4&gt;</span> in <span class="ansi-cyan-fg">&lt;module&gt;</span>
<span class="ansi-green-intense-fg ansi-bold">      1</span> s <span class="ansi-blue-fg">=</span> <span class="ansi-blue-fg">'Python'</span>
<span class="ansi-green-fg">----&gt; 2</span> s<span class="ansi-blue-fg">[</span><span class="ansi-cyan-fg">0</span><span class="ansi-blue-fg">]</span> <span class="ansi-blue-fg">=</span> <span class="ansi-blue-fg">'J'</span>

<span class="ansi-red-fg" style="color: #ff0000;">TypeError</span>: 'str' object does not support item assignment</pre>

In [ ]:
s = 'Python'
s = 'J' + s[1:]
print(s)

<p><strong>Few Operators for Strings</strong></p>
<table class="table table-bordered">
<tbody>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
<tr>
<td class="ts">+</td>
<td>Concatenation - Adds values on either side of the operator</td>
</tr>
<tr>
<td class="ts">*</td>
<td>Repetition - Creates new strings, concatenating multiple copies of the same string</td>
</tr>
<tr>
<td class="ts">[]</td>
<td>Slice - Gives the character from the given index</td>
</tr>
<tr>
<td class="ts">[ : ]</td>
<td>Range Slice - Gives the characters from the given range</td>
</tr>
<tr>
<td class="ts">in</td>
<td>Membership - Returns true if a character exists in the given string</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Membership - Returns true if a character does not exist in the given string</td>
</tr>
</tbody>
</table>

In [ ]:
s1 = 'Spotle'
s2 = '.ai'
t = s1 + s2
print(t)

In [ ]:
s = s1*2
print(s)

In [ ]:
print(s1[0])
print(t[-4:-1])

In [ ]:
'.' in t

In [ ]:
'ai' in t

In [ ]:
'sp' in t

In [ ]:
'*' not in t